In [1]:
# Ignore SQLITE warnings related to Decimal numbers in the Chinook database
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import Dependencies
### BEGIN SOLUTION
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func
from sqlalchemy import inspect
### END SOLUTION

In [133]:
import pandas as pd
import json
import numpy as np

In [ ]:
##################################################
# Flask Setup
##################################################
app = Flask(__name__)

In [52]:
# Create an engine for the belly_button_biodiversity.sqlite database
### BEGIN SOLUTION
engine = create_engine("sqlite:///belly_button_biodiversity.sqlite", echo=False)
### END SOLUTION

In [53]:
# Reflect Database into ORM classes
### BEGIN SOLUTION
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()
### END SOLUTION

['otu', 'samples', 'samples_metadata']

In [54]:
#Get References for each table
Otu = Base.classes.otu
Samples = Base.classes.samples
Samples_metadata = Base.classes.samples_metadata

In [117]:
inspector = inspect(engine)
samplesall = inspector.get_columns('samples')

In [109]:
# Other ways of doing this
# Converting using pandas and sql statement
# stmt = session.query(Samples).statement
# df = pd.read_sql_query(stmt, session.bind)
# df.set_index('otu_id', inplace=True)
# df.columns
# # Get the sample list which is the column names in Samples table 
# samples_column_list = Samples.__table__.columns.keys()
# # First element in the samples_column_list is 'otu_id' so sample list is from 2nd element to the last element
# sample_list = samples_column_list[1:]
# print(sample_list)
# return jsonify(sample_list)

#### Getting Sample Names

In [140]:
# Converting using pandas
samplesall_df = pd.DataFrame(samplesall)
# samplenames = samplesall_df.loc[samplesall_df["name"] != 'otu_id',]
samplenamesdf = pd.DataFrame(samplesall_df['name'])
samplenamesdf.set_index('name',inplace=True)
# json.dumps(list(samplesall_df['name'][1:]))

#### OTU Descriptions

In [139]:
results = session.query(Otu.lowest_taxonomic_unit_found).all()
# json.dumps(list(np.ravel(results)))

#### Metadata for sample

In [ ]:
sample = 'BB_940'
sampleid = sample(4:)
metadata = session.query(Samples_metadata).filter('')